üß† What are Data Types?

Data types define the kind of value a variable can hold and what operations can be performed on it.

They help Python understand how to store and process data efficiently.


‚öôÔ∏è Importance

Ensures correct memory allocation.

Helps avoid type errors in operations.

Makes code clearer and easier to debug.

1. Basic Data Types

| Type      | Example         | Description                           |
| --------- | --------------- | ------------------------------------- |
| `int`     | `10`            | Whole numbers                         |
| `float`   | `3.14`          | Decimal numbers                       |
| `complex` | `2 + 3j`        | Numbers with real and imaginary parts |
| `bool`    | `True`, `False` | Logical values                        |
| `str`     | `"Hello"`       | Sequence of characters                |

2. Sequence Data Types

| Type    | Example     | Description         |
| ------- | ----------- | ------------------- |
| `list`  | `[1, 2, 3]` | Ordered, mutable    |
| `tuple` | `(1, 2, 3)` | Ordered, immutable  |
| `range` | `range(5)`  | Sequence of numbers |

3. Set Data Types

| Type        | Example                | Description                |
| ----------- | ---------------------- | -------------------------- |
| `set`       | `{1, 2, 3}`            | Unordered, unique elements |
| `frozenset` | `frozenset({1, 2, 3})` | Immutable set              |

4. Mapping Data Type

| Type   | Example                         | Description     |
| ------ | ------------------------------- | --------------- |
| `dict` | `{"name": "Ritwik", "age": 27}` | Key‚Äìvalue pairs |

5. None Type

| Type       | Example | Description                |
| ---------- | ------- | -------------------------- |
| `NoneType` | `None`  | Represents no value / null |

In [1]:
var = 10
print(type(var))

<class 'int'>

In [1]:
height = 5.9
print(type(height))

<class 'float'>

In [2]:
name = "John"
print(type(name))

<class 'str'>

In [3]:
is_student = True
print(type(is_student))

<class 'bool'>

In [5]:
a = 10
b = 10

print(a==b)
type(a==b)

True

bool

In [8]:
## common errors
# TypeError: can only concatenate str (not "int") to strTypeError: can only concatenate str (not "int") to str
# result = "hello"+5
# print(result)

result = "hello"+str(5)
print(result)

hello5