# Module 3: Data Structures Assignments
## Lesson 3.3: Sets

### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [ ]:
nSet = set(range(1,11))
print(nSet)
print(type(nSet))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [72]:
nSet.add(11)
print(nSet)
nSet.remove(1)
print(nSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [73]:
positiveSet = set(range(1,6))
evenSet = set(range(2,11,2))
print("positive",positiveSet)
print("even",evenSet)
print("Union",positiveSet.union(evenSet))
print("intersection",positiveSet.intersection(evenSet))
print("difference",positiveSet.difference(evenSet))
print("symmetric difference",positiveSet.symmetric_difference(evenSet))

positive {1, 2, 3, 4, 5}
even {2, 4, 6, 8, 10}
Union {1, 2, 3, 4, 5, 6, 8, 10}
intersection {2, 4}
difference {1, 3, 5}
symmetric difference {1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [74]:
square = set(x ** 2 for x in range(1,11))
print(square)
print(type(square))

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
<class 'set'>

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [75]:
newSet = {x for x in nSet if x%2 == 0}
print(newSet)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [76]:
nayaSet = {1,2,2,3,4,4,5,5,6,6,7,7,8,8,9,9,10,10}
print(nayaSet)
print(type(nayaSet))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
<class 'set'>

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [77]:
setOf5 = set(range(1,6))
setOf3 = set(range(1,4))

print(setOf5)
print(setOf3)

print(setOf3.issubset(setOf5))
print(setOf5.issuperset(setOf3))

{1, 2, 3, 4, 5}
{1, 2, 3}
True
True

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [78]:
frzSet = frozenset(range(1,6))
print(frzSet)
print(type(frzSet))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [79]:
Five = set(range(1,6))
lst = list(Five)
lst.append(6)
newS = set(lst)
print(newS)
print(type(newS))

{1, 2, 3, 4, 5, 6}
<class 'set'>

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [80]:
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [81]:
s = set(range(1,11))

for i in s:
    print(i)

1
2
3
4
5
6
7
8
9
10

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [82]:
x = set(range(1,11))

while x:
    x.pop()
    print(x)

{2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 4, 5, 6, 7, 8, 9, 10}
{4, 5, 6, 7, 8, 9, 10}
{5, 6, 7, 8, 9, 10}
{6, 7, 8, 9, 10}
{7, 8, 9, 10}
{8, 9, 10}
{9, 10}
{10}
set()

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [88]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [89]:
test = set(range(1,11))
print(7 in test)
print(69 in test)

True
False

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [90]:
tup1 = (1, 2)
tup2 = (3, 4)

tupSet = set()
tupSet.add(tup1)
tupSet.add(tup2)

print(tupSet)
print(type(tupSet))

{(1, 2), (3, 4)}
<class 'set'>