# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [18]:
nTuple = tuple(x for x in range(1,11))

print(nTuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [19]:
first = nTuple[0]
middle = nTuple[len(nTuple)//2]
last = nTuple[-1]

print(f"First: {first}")
print(f"Middle: {middle}")
print(f"Last: {last}")

First: 1
Middle: 6
Last: 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [20]:
print(f"first 3 number of tuple: {nTuple[:3]}")
print(f"last 3 number of tuple: {nTuple[-3:]}")
print(f"number fro, index 2 to 5 of tuple: {nTuple[2:6]}")

first 3 number of tuple: (1, 2, 3)
last 3 number of tuple: (8, 9, 10)
number fro, index 2 to 5 of tuple: (3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [21]:
mat_tpl = ((1,2,3),(4,5,6), (7,8,9))
# print(mat_tpl)
for row in mat_tpl:
    print(row)
print(mat_tpl[1][2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [22]:
tpl1 = (1,2,3)
tpl2 = (4,5,6)

combined_tpl = tpl1 + tpl2
print(combined_tpl)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [23]:
tpl_duplicate = (1,1,1,2,3,4,4,5,6,7,7,7,7,9,9,8)

print(tpl_duplicate.count(7))
print(tpl_duplicate.index(7))

4
9

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [24]:
tpl5 = (1,2,3,4,5)
a,b,c,d,e = tpl5
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
5

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [25]:
lst = [1,2,3,4,5]
tpl = tuple(lst)
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [26]:
matrix = ((1,2,3),(4,5,6),(7,8,9))

# for row in matrix:
#     print(row)

print(matrix)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple

In [27]:
positive = (1,2,3,4,5)
posLst = list(positive)
posLst.append(6)

posLst = tuple(posLst)
print(posLst)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [30]:
string = "Hello"
string_tuple = tuple(string)
print(string_tuple)
joined_string = "".join(string_tuple)
print(joined_string)

('H', 'e', 'l', 'l', 'o')
Hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [31]:
tpl_dict = {
    (1, 2): 3,
    (4, 5): 6,
    (7, 8): 9
}
print(tpl_dict)

{(1, 2): 3, (4, 5): 6, (7, 8): 9}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [32]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

for tpl in nested_tuple:
    for item in tpl:
        print(item, end=" ")
    print()

1 2
3 4
5 6


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [33]:
duplicates = (1,1,1,2,2,3,3,3,4,4,4,5,5,5,6,6,6,7,7,7,8,8,8,9,9,9)

set_duplicates = set(duplicates)
print(set_duplicates)

{1, 2, 3, 4, 5, 6, 7, 8, 9}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [38]:

def min_in_tuple(tuple1):
    return min(tuple1)

def max_in_tuple(tuple1):
    return max(tuple1)

def sum_of_tuple(tuple1):
    return sum(tuple1)

tuple1 = (1, 2, 3, 4, 5)

print(min_in_tuple(tuple1))
print(max_in_tuple(tuple1))
print(sum_of_tuple(tuple1))

1
5
15